body{
    padding-top: 80px;
    background-color: white;
    font-family: caviar_dreams;
    overflow-x: hidden;
    font-size: 1.6em;
}

h1, h2, h3 {
    font-weight: bold;
}

p {
    font-family: 'Zilla Slab', serif;
    font-size: 1.05em;
}

a{
    cursor: pointer;
}

.navbar{
    font-family: caviar_dreams;
    font-size: 16px;
}
.navbar-header > button{
    margin-top: 23px;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}
.navbar-right > li > a {
    border-bottom: 2px solid transparent;
}
.navbar-right > li > a:hover,
.navbar-right > li > a:focus {
    border-bottom-color: #ffffff;
    border-bottom-color: rgba(255,255,255,.5);
}
.dropdown-menu{
    transform: translateY(100px);
}

#navbarBrandImage{
    height: 80px;
    max-width: 100%;
}

.img-std{
    max-height: 200px;
}

.img-ratio{
  display: block;
  width: auto;
  height: auto;
}

#portraitimage {
    max-height: 220px;
}

#cover{
    background-color: white;

    background-image: url(../assets/hamburg.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider_big{
    height: 600px;
    background-color: #2b1b0a;
    width: 100%;
    color: white;
}
@media (max-width:750px) {
    .slider_big{
        height: 80vw;
    }
}
.slider_heading{
    min-height: 200px;
    background-color: #0a1a2b;
    width: 100%;
    color: white;
    text-align: center;
}

.slider_heading_font_element {
    margin-top: 100px;

    transform: translateY(-50%);
}
.slider_heading_font_element>h1 {
    font-weight: bold;
    font-size: 40px;
}

.category_inner{
    margin-top: 80px;
    margin-bottom: 80px;
}

.portfolio_element{
    margin-top: 80px;
    margin-bottom: 80px;
}
@media (max-width: 650px) {
    .portfolio_element{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.text_element{
    text-align: center;

    margin-top: 80px;
    margin-bottom: 80px;
}
@media (max-width: 650px) {
    .text_element{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.gallery *{
    display: block;
    max-width: 720px;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.link_collection>p{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

body>footer{
    height: 200px;
    background-color: #0a1a2b;
    color: #ecf0f1;
}
body>footer div{
    margin-top: 80px;
    height: 50px;
    transform: translateY(50%);
}

/* Style Classes */
.bigquote{
    font-family: caviar_dreams;
    font-style: italic;
    /*font-weight: bold;*/
    font-size: 40px;
    text-align: center;

    position: relative;
    margin-top: 300px;
    transform: translateY(-50%);
}
.bigquote>p:nth-child(2){
    font-size: 28px;
    transform: translateX(25%);
}
.bigquote>p:nth-child(3){
    font-size: 20px;
    transform: translateX(34%);
}
@media (max-width:750px) {
    .bigquote{
        margin-top: 40vw;
        font-size: 5vw;
    }
    .bigquote>p:nth-child(2){
        font-size: 4vw;
    }
}

.halfsize_container{
    position: relative;
}
.halfsize_left{
    width: 100%;
    padding: 20px;
}
.halfsize_right{
    width: 100%;
    padding: 20px;
}
@media (min-width:800px) {
    .halfsize_container{
        overflow: auto;
    }
    .halfsize_left{
        float: left;
        width: 50%;
    }
    .halfsize_right{
        float: right;
        width: 50%;
    }
}

.halfsize_center{
    max-width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#contact_inner_left>h3{
    font-weight: bold;
    font-size: 30px;
}
