html {
    color: black;
    background-color: white;
    text-align: center;
    font-family: Myriad Pro;
}

body {
    width: 1000px;
    text-align: left;
    margin: 0 auto 0 auto;
    padding: 0px;
}


/* Header */
#headerIcon {
    width: 180px;
    height: 180px;
    margin-left: 165px;
    margin-top: 63px;
}

#headerKG {
    font-size: 78.35px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -150px;
    color: #585858;
}

#headerPro {
    font-size: 39.5px;
    position: absolute;
    left: 50%;
    top: 120px;
    margin-left: 120px;
    color: #aeaeae;
}


/* Header, Footer */
header, footer {
    width: 1000px;
}


/* navigation */
nav {
    margin-top: 30px;
    margin-left: 180px;
    width: 1000px;
    height: 40px;
    color: #aeaeae;
}

nav a{
    margin-left: 70px;
    font-size:31px;
}

a{
    text-decoration: none;
    color: #00a716;
}
a:hover{
    color: #00ff21;
}

/* article */
article {
    margin-top:30px;
    margin-left: 165px;
    width: 700px;
    display: table;
    background-color: #aeaeae;
}

#articleTOP{
}

#articleBOTTOM{
    position:relative;
    top:10px;
}

/* content */
#content{
    position:relative;
    left:15px;
    padding-right:30px;
    color: #1a1a1a;
    font-size: 20px;
}

footer {
    text-align: center;
    color: #aeaeae;
    font-size: 18px;
}
