html {
    color: black;
}

body {
	margin:0;
    padding:0;
	text-align: center;
    font-family: muli;
	pointer-events: none;
}

body *{
	pointer-events: all;
}

h1{
	font-family: poiret-one, kotta-one;
}

/* Header */
header{
	top:0;
	left:0;
	position:fixed;
	width:100%;
	height: 100%;
    background-image: url(assets/green_cup.png);
    /*background-color:aquamarine;*/
    background-position: bottom center;
	z-index: -10;
	
	font-family: poiret-one, kaushan-script;
	font-weight: bold;
	color:white;
}

/*#headerIcon {
    position:relative;
    width: 180px;
    height: 180px;
    margin-top:100px;
    z-index:5;
}*/

#headerText{
	position: fixed;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	text-shadow: 6px 6px 0px rgba(150, 150, 150, 1);
}

#headerKG {
    position:relative;
    font-size: 78.35px;
    z-index:5;
    margin:auto;
}

#headerPro {
    position:relative;
    font-size: 39.5px;
    margin:auto;
}

#button_down{
	position: fixed;
	left:50%;
	transform: translateX(-50%);
	bottom: 20px;
}

header a{
	color: inherit;
	text-decoration: none;
}
header a:hover{
	color: inherit;
	text-decoration: none;
}


/* Navigation */
nav {
    position:fixed;
	top:0;
	left:0;
    z-index:1;
	width: 100%;
	background-color: transparent;
}



nav div div{
	background-image: url(assets/green_cup.png);
	background-color: #43aaa5;
	background-blend-mode: multiply;
}

/* Article */

a{
	color:inherit;
	text-decoration: none;
}

article p a, footer p a{
	color: #008713;
}

article p a:hover, footer p a:hover{
	color: inherit;
}

article a{
	font-weight: bold;
}
article a:hover{
	font-weight: bold;
}

/* article */
article { 
    /*-webkit-box-shadow: 0 -60px 100px 50px #0f850d;
    -moz-box-shadow: 0 -60px 100px 50px #0f850d;
    box-shadow: 0 -60px 100px 50px #0f850d;*/

    text-align:center;
    padding-bottom:80px;
    font-size: 25px;
	background-image: url(assets/crossword.png);
	padding-top: 20px;
	margin-top: 0;
	color: #1a1a1a;
}

#article{
	height:68px;
	background-color:green;
	visibility: hidden;
	pointer-events: none;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
}

#button_down{
    width:120px;
    margin-top:20px;
}


.heading{
	background-image: url(assets/green_cup.png);
	background-color: #43aaa5;
	background-blend-mode: multiply;
	border-bottom:1px solid #585858;
	padding-bottom: 0;
	margin:0;
	font-size: 40px;
}

article h1:not(.heading){
	border-bottom:1px solid #585858;
	font-style: italic;
}

/* ---CONTENT_DESIGN_OPTIONS--- */

article img{
    margin:20px;
}
article video{
    margin:20px;
}

article .fill_parent{
    width:100%;
}

.nomargin{
	margin:0;
}

.block{
	padding-left:8%;
    padding-right:8%;
    max-width:100%;
}

.debug_red{
	background-color: red;
}
.debug_blue{
	background-color: blue;
}
.debug_yellow{
	background-color: yellow;
}

/* ---CONTENT_DESIGN_OPTIONS_END--- */

footer {
    width:100%;
    padding-top:50px;
    padding-bottom:50px;
    text-align: center;
    color: #585858;
    background-color:#43aaa5;
	
	background-image: url(assets/footer_lodyas.png);

    font-size: 18px;
}








