html {
    color: black;
}

body {
	margin:0 0;
    padding:0;
	text-align: center;
    font-family:'Source Sans Pro', 'sans-serif';
}

/* Header */
header{
    padding-bottom:150px;
    /*background-image: url(assets/backgroundHeader.jpg);*/
    background-color:aquamarine;
    background-position: bottom center;
    background-size:auto 900px;
}

#headerIcon {
    position:relative;
    width: 180px;
    height: 180px;
    margin-top:100px;
    z-index:5;
}

#headerKG {
    position:relative;
    font-size: 78.35px;
    color: #585858;
    z-index:5;
    max-width:600px;
    margin:auto;
    margin-top:100px;
    background-color:white;
}

#headerPro {
    position:relative;
    font-size: 39.5px;
    color: #aeaeae;
    background-color:white;
    max-width:720px;
    margin:auto;
    z-index:5;
}


/* navigation */
nav {
    position:fixed;
    z-index:10;
}

#innerNav{
    position:fixed;
    top:70px;
    left:70px;

    padding:20px;

    z-index:10;
    background-color:#8b8b8b;
    visibility:hidden;
    font-size:40px;
    font-weight:bold;

    border-radius:3px;
    border: 2px solid #4f4f4f;
}

#innerNav a{
    color: #4f4f4f;
}
#innerNav a:hover{
    color: #1b1b1b;
}
#innerNav a p{
    padding:10px;
}
#innerNav a p:hover{
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

#button_navigation{
    position:fixed;
    top:20px;
    left:20px;
    z-index:11;
    width:100px;
}
#button_navigation:hover{
    cursor: pointer;
}
#button_mail{
    position:fixed;
    top:130px;
    left:20px;
    z-index:9;
    width:100px;
}
#button_mail:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #008713;
}
a:hover{
    color: #00ff21;
}

/* article */
article { 
    -webkit-box-shadow: 0 -60px 300px 50px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 -60px 300px 50px rgba(0,0,0,0.75);
    box-shadow: 0 -60px 300px 50px rgba(0,0,0,0.75);

    text-align:center;
    padding-bottom:30px;
    color: #1a1a1a;
    font-size: 25px;
    background-color:#F5F5F5;
}

#button_down{
    width:120px;
    margin-top:20px;
    margin-bottom:85px;
}


/* ---CONTENT_DESIGN_OPTIONS--- */
article .block{
    margin-left:10%;
    margin-right:10%;
    max-width:100%;
}

article img{
    border-width: 3px;
    border-style:solid;
    border-color: #0f850d;
    margin:20px;
}
article video{
    border-width: 3px;
    border-style:solid;
    border-color: #0f850d;
    margin:20px;
}

article .noborder{
    border-width: 0;
}

article .fill_parent{
    width:100%;
}

article .half_left{
    width:50%;
    float:left;
}

article .half_right{
    width:50%;
    float: right;
}

article h1{
    margin-top:0;
    background-color:#0f850d;
    -webkit-box-shadow: 0 5px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 5px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 0 5px 11px -5px rgba(0,0,0,0.75);
}
/* ---CONTENT_DESIGN_OPTIONS_END--- */

footer {
    width:100%;
    padding-top:50px;
    padding-bottom:50px;
    text-align: center;
    color: #585858;
    background-color:#43aaa5;

    font-size: 18px;
}